body {
    background-color: #6495ED;
    color :white;
}

.jumbotron {
    margin-top: 2rem;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    /*background-color: #95a3f0;*/
    background-color: #DDDDDD;
    border-radius: .3rem;
    color : #0a1552;
}

.form-control {
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
}
.formMargin {
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-outline-primary {
    width:25%;
    margin-right: 37%;
    margin-left: 37%;
}
.btn-light {
    width:25%;
    margin-right: 37%;
    margin-left: 37%;
}
#find {
    width: 100%;
}

.card {
    /*background-color: #95a3f0;*/
    background-color: #DDDDDD;
    color: white;
    border-radius: 5%;
}


.pie1 {
    width: 42%;
    margin-right: 3.75%;
    margin-left: 3.75%;
}
.pie2 {
    width: 60%;
    margin : auto;
}

.row {
    margin-bottom: 50px;
}

.graph1 {
    width: 42%;
    margin-right: 3.75%;
    margin-left: 3.75%;
}
.bgColor {
    /*background-color: #95a3f0;*/
    background-color: #DDDDDD;
    color: black;
}

.heatmap {
    width: 80%;
    margin : auto;
}

.giveColor{
    color : #0a1552;
}


.giveBold{
    font-weight: bold;
}


#footer{
    padding-top: 10px;
   padding-left: 20px;
   background: #ccd1d4;
   color: #0e0e0c;
   height: 50px;
   display: grid;
   grid-template-columns: 1.2fr 1fr;
}
#About_Us{
    padding-top: -10px;
}
.footlink{
    color:#0f0e0e;
    margin: 10px;
}

main{
    min-height: 100vh;
}

